[flake8]
exclude = 
    __init__.py,
    .git,
    __pycache__,
    old,
    build,
    dist,
    .venv,
    venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .coverage,
    .idea,
    .vscode,
    ./chatgpt-app/node_modules
max-line-length = 88
extend-ignore = 
    E203,
    E266,
    E501,
    W503,
    F401
